:root {
  --primary-color: #f5d293;
}

body {
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.center-text {
  text-align: center;
}

.navbar {
  background-color: var(--primary-color);
}

.subscriptions-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscription-card {
  /* height: 100px; */
  flex: 0 1 250px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  /* border: 1px red dashed; */
}

.subscription-card .title {
  align-self: flex-start;
  font-size: 3vh;
  font-weight: bold;
}

.subscription-card .frequency {
  align-self: flex-end;
  font-size: 2vh;
}

.subscription-card .pricing {
  font-size: 2vh;
  align-self: center;
}
