body {
  font-family: Inter var, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: var(--black-text-color);
  color: var(--light-background);
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--light-background);
}

:root {
  --light-background: #fef2f2;
  --dark-background: #232931;
  --primary-color: #f9b24d;
  --secondary-color: #eb5a5a;
  --black-text-color: #282a2d;
}

/* .center-text {
  text-align: center;
} */

.nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  align-items: center;
  margin: 32px auto;
  margin-top: 48px;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

.subscriptions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.subscription-card {
  width: 600px;
  height: 90px;
  margin: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.grid {
  display: grid;
  grid: 90px / 2fr 3fr 1fr;

  border: 3px solid #fbab7e;
}

.subscription-card .title {
  align-self: flex-start;
  font-size: 3vh;
  font-weight: bold;
}

.subscription-card .frequency {
  align-self: flex-end;
  font-size: 2vh;
}

.subscription-card .pricing {
  font-size: 2vh;
  align-self: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 48px;
  color: var(--dark-background);
}

.footer a {
  color: var(--dark-background);
  font-weight: 500;
}

.primary-gradient-bg {
  background-color: var(--primary-color);
  background-image: linear-gradient(
    62deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
}
